# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings xgR0uY20zwiYc6sIGmHfif

DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:5432/DB-NAME?schema=public"
ACCESS_TOKEN_KEY=YOUR-SECRET
REFRESH_TOKEN_KEY=YOUR-SECRET
# eg. 60s, 1m, 1h, 1d
ACCESS_TOKEN_AGE=2m
REFRESH_TOKEN_AGE=7d

# super seed
SUPER_NAME=YOUR-SUPER-NAME
SUPER_USERNAME=YOUR-SUPER-USERNAME
SUPER_EMAIL=YOUR-SUPER-EMAIL
SUPER_PASSWORD=PASSWORD

# multer
MULTER_UPLOAD_DIRECTORY=YOUR-UPLOAD-DIRECTORY

# gdrive
GOOGLE_CREDENTIALS_BASE64=YOUR-GOOGLE-CREDENTIALS
GDRIVE_ORDER_FOLDER_ID=YOUR-FOLDER-ID

# eg. prod or leave it empty
ENV=